.nav-wrapper{
    padding: 1% 0 1%;
}

nav a{
    padding: 0 10px 0;
    display: block !important;
    text-decoration: none;
    color: #fff;
}

nav a:hover{
    text-decoration: none;
    color: #fff;
    opacity: .8;
}

nav a:last-child{
    width: 124px;
}

.smallText{
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif !important;
}