.menu-items{
    margin: 15px 5px;
    display: inline-block;
    cursor: pointer;
}

.menu-items:hover{
    border-bottom: 1px solid #ffee00;
}

.news-image{
    width: 100%;
    height: 150px;
    padding-bottom: 10px;
}

.light{
    opacity: .8;
    cursor: pointer;
}

.light:hover{
    opacity: 1;
    transition: 1s ease-in;
}

.light span{
    font-size: .7rem;
    line-height: .7rem;
    font-weight: 100;
}

.pl{
    margin-left: 10px;
}

.duration{
    padding: 8px 15px 8px;
    background-color: #eea700;
    opacity: 1;
    border-radius: 8px;
}

.wt{
    font-size: 1rem !important;
    font-weight: 500 !important;
}

.w100{
    display: block !important;
    width: 100% !important;
}

.w1002{
    display: flex !important;
    width: 100% !important;
    justify-content: right;
    padding-left: 10px;
}

.ctrlbuttons{
    background: none;
    color: #eea700;
    padding: 5px 20px;
    border: 1px solid #ddd;
}

.ctrlbuttons img{
    height: 12px;
    margin-bottom: 3px;
}

.ctrlbuttons:focused{
    outline: none;
}

.ctrlbuttons:first-child{
    margin-right: 15px;
}

.horizontalSlider___281Ls{
    height: 400px;
}
.disappear{
    display: block;
}
@media only screen and (max-width:600px) {
    .disappear{
        display: none;
    }
    .light{
        margin: 0 10px 0;
    }
}
