.nav-wrapper{
    background-color: transparent !important;
    color: #fff !important;
}

.logo{
    opacity: 1 !important;
    z-index: 10000;
    height: 50px;
}

.nav_links{
    color: #fff !important;
    padding: 0 10px 0 0;
}

.live{
    color: #fff !important;
    padding: 0 50px 0 0 !important;
    color: #fff;
}

.black{
    color: #000 !important;
}

.hover{
    opacity: 1 !important;
}

.coin-stat{
    display: flex;
    flex-direction: row;
}

.coin-stat span{
    padding: 0 10px;
}

.coin-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coin-wrapper div{
    display: flex;
    justify-content: space-between;
}

.yellow-header{
    color: #ffff00;
    font-weight: bold;
}

.bold-price{
    font-weight: bold;
}

/* .navbar-toggler{
    background: #fff;
} */

/* .navbar-toggler-icon{
    background-color: #000;
} */

@media screen and (max-width: 768px) {
    .navbar-wrapper{
        padding: 8px 0 !important;
        background-color: #ffffff !important;
    }

    .not-display{
        display: none !important;
    }

    .disappear{
        padding-right: 0;
        padding-left: 0;
    }

    .styles {
        width: 100%;
        height: 254px !important;
    }
    .nav_links, .live{
        color: #fff !important;
        padding: 10px 0 !important;
    }
}